*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    background-color: lightgray;
    box-sizing: border-box;
}

h1{
    text-align: center;
    margin: 3rem 0 2rem;
}

.title{
    color: mediumvioletred;
    font-weight: 500;
    font-size: 100px;
}

.inputdiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.input{
    padding: 0.5rem 1rem;
    outline: none;
    height: 50px;
    border-radius: 10px;
    width: 320px;
    margin: 0.40rem;
    transition: .5s;
    font-size: 1.15rem;
}

.add{
    outline: none;
    border: none;
    border-radius: 10px;
    background-color: mediumvioletred;
    color: white;
    cursor: pointer;
    transition: .5s;
    height: 50px;
    margin: 0.2rem;
    width: 50px;
}
.add:hover{
    background-color: rgb(173, 10, 113);
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2rem;
}

.item_input{
    background-color: mediumvioletred;;
    outline: none;
    border: 3px solid black;;
    border-radius: 10px;
    padding: 10px;
    color: black;
    margin-top: 5px;
    margin-right: 10px;
    font-size: 20px;
    width: 315px;
}

.remove{
    background: none;
    outline: none;
    border: none;
    color: rgb(204, 38, 38);
    font-size: 2rem;
    margin-top: 5px;
    cursor: pointer;

}

.remove_all{
    margin-top: 35px;
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    background-color: mediumvioletred;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    border: none;
    font-weight: bold;
    font-size: 15px;
    transition: all 0.4s ease 0s;
    height: 55px;
    width: 150px;
    cursor: pointer;
}

.remove_all:hover{
    background-color: rgb(173, 10, 113);
    letter-spacing: 0.5px;
}
